
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */
.header{
    background-image: url(../images/Hero-bg.png);
    padding-bottom:150px;
    padding-top: 5px;
}

/* shared sryle */
.btn-primary-pro{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
}
.logo{
    font-weight: 900;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-weight: bold;
}
nav ul li{
    list-style: none;
}
nav h3{
    font-size: 34px;
}

/* banner styles */
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
}

/* Action style */
.parant{
    display: flex;
    padding: 140px;
}
.Action{
    margin-right: 200px;
}
.Action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.Action-description{
    font-weight: 400;
    font-size: 24px;
    color: #252432;
    margin: 23px 23px 23px 0px;
}

.img{
    width: 400;
    height: 330;
    border-radius: 35px;
}

/* Joined styles */
.Joined-section{
    background-color: #4E47FF1A;
    margin: 140px;
    padding: 50px;
    margin-top: 0px;
    border-radius: 15px;
}
.Joined{
    display: flex;
    justify-content: center;
    gap: 158px;
    
}
.Joined-usr{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
    gap: 40px;
}
.joined-title{
    font-weight: bold;
    font-size: 80px;
    margin: 0px;
}
.Joined-p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #00000080;
}
/* what our users say section */
.our-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
}
.our-container{
    display: flex;
    padding: 24px;
    
}
.Reviewer{
    display: flex;
}
.our{
    box-shadow: 0px 6px 50px 0px #F2EDED;
    padding: 24px;
    margin: 20px;
    width: 366px;
    height: 243px;
    border-radius: 15px;
}
.our-p{
    color: #1E1E1E;
    gap: 8px;
}
.our-h3{
    color: #757575;
    padding-left: 12px;
}
.p{
    color: #B3B3B3;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.Reviewer{
    align-items: center;
    margin-top: 30px;
    gap: 24px;
}
.our-h3, p{
    margin:0px;
    padding: 0px;
}
/* form styles */
.form-section{
    margin-top: 90px;
    display: flex;
    padding: 150px;
    gap: 115px;
    background-color: #D6DDED1A;
}
input[type="email"], input[type="text"], input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 19px;
    border: 1px solid #D6DDED;
}
textarea{
    width: 497px;
    height: 135px;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding-top: 20px;
    padding-left: 35px;
    margin-bottom: 19px;
    border: 1px solid #D6DDED;
}
.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 19px 201px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
}
.form{
    font-weight: bold;
    font-size: 70px;
}
.Email{
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: 10px auto;
}